
@{
    ViewBag.Title = "DietaMediterranea";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunGym - Dieta Mediterránea</title>
    <link rel="stylesheet" href="~/Content/css/Mediterranea.css">
</head>
<body>
</body>
<body>
    <header>
        <h1>RunGym</h1>
        <p>Tu aliado para alcanzar el cuerpo ideal desde casa</p>
    </header>
    <main>
        <section class="diet-container">
            <!-- Información de la dieta -->
            <div class="diet-info">
                <h2>Dieta Mediterránea - Ganar Peso Notable </h2>
                <p>La dieta mediterránea incluye alimentos ricos en nutrientes, grasas saludables y proteínas para un aumento de peso saludable. Aquí te sugerimos opciones para cada comida:</p>

                <h3>Desayuno (7:00 - 8:00 AM)</h3>
                <ul>
                    <li>Tostadas de pan integral con aguacate y queso feta</li>
                    <li>Frutos secos (almendras, nueces) y un puñado de pasas</li>
                    <li>Un vaso de leche entera o yogur griego con miel</li>
                </ul>

                <h3>Almuerzo (12:00 - 1:00 PM)</h3>
                <ul>
                    <li>Ensalada de quinoa con aceite de oliva, aceitunas y trozos de salmón</li>
                    <li>Pan de masa madre con hummus</li>
                    <li>Una pieza de fruta (plátano o higos frescos)</li>
                </ul>

                <h3>Cena (7:00 - 8:00 PM)</h3>
                <ul>
                    <li>Plato de pasta integral con salsa de tomate casera y queso parmesano</li>
                    <li>Verduras salteadas en aceite de oliva (pimientos, calabacines y berenjenas)</li>
                    <li>Un vaso de vino tinto (opcional, solo para adultos)</li>
                </ul>

                <h3>Snack opcional (4:00 - 5:00 PM)</h3>
                <ul>
                    <li>Bocadillo de atún con aguacate</li>
                    <li>Un puñado de frutos secos y una barrita de granola</li>
                </ul>
            </div>
            <div class="exercise-media">
                <img src="~/images/Dieta/Mediterranea/Mediterranea.png" alt="Dieta Keto para ganar peso Notable">
            </div>
        </section>
    </main>
</body>
</html>