
@{
    ViewBag.Title = "DietaVegetariana";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunGym - Dieta Vegetariana para Ganar Peso</title>
    <link rel="stylesheet" href="~/Content/css/Vegetariana.css">
</head>
<body>
</body>
<body>
    <header>
        <h1>RunGym</h1>
        <p>Tu aliado para alcanzar el cuerpo ideal desde casa</p>
    </header>
    <main>
        <section class="diet-container">
            <!-- Información de la dieta -->
            <div class="diet-info">
                <h2>Dieta Vegetariana para Ganar Peso Notable</h2>
                <p><strong>Objetivo:</strong> Aumentar masa muscular y peso de manera saludable.</p>
                <h3>Plan Diario:</h3>

                <h4>Desayuno (7:00 - 8:00 AM):</h4>
                <ul>
                    <li>Avena con leche de almendra, plátano, nueces y miel.</li>
                    <li>Un batido con espinaca, mango, yogur griego y semillas de chía.</li>
                    <li>Una tostada integral con aguacate y tomate.</li>
                </ul>

                <h4>Almuerzo (12:00 - 1:00 PM):</h4>
                <ul>
                    <li>Quinoa con garbanzos, espárragos y almendras.</li>
                    <li>Un plato de ensalada de lentejas con aguacate y aceite de oliva.</li>
                    <li>Un batido de proteína vegetal con frutas.</li>
                </ul>

                <h4>Cena (7:00 - 8:00 PM):</h4>
                <ul>
                    <li>Batatas asadas con tofu marinado y espinacas salteadas.</li>
                    <li>Una tortilla de huevo con espárragos y champiñones (si consumes huevos).</li>
                    <li>Pan integral con crema de cacahuate y una fruta.</li>
                </ul>

                <h4>Snacks entre comidas:</h4>
                <ul>
                    <li>Puedes incluir frutos secos, frutas deshidratadas, yogur natural con granola o smoothies altos en calorías.</li>
                </ul>
            </div>
            <div class="exercise-media">
                <img src="~/images/Dieta/Vegetariana/Vegetariana.png" alt="Dieta Vegetariana para ganar peso Notable">
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 RunGym - Todos los derechos reservados.</p>
    </footer>
</body>
</html>