<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunGym - Sentadillas con Salto con Peso</title>
    <link rel="stylesheet" href="~/Content/css/Rutinas/sentadillassalto.css">
</head>
<body>
    <header>
        <h1>RunGym</h1>
        <p>¡Tu guía para el ejercicio desde casa!</p>
    </header>
    <main>
        <div class="exercise-container">
            <div class="exercise-info">
                <h2>Ejercicio: Sentadillas con Salto </h2>
                <p><strong>Descripción:</strong> Realiza sentadillas con salto mientras sostienes pesas para trabajar las piernas, glúteos y mejorar la explosividad.</p>
                <ul>
                    <li><strong>Repeticiones:</strong> 3 series de 12 repeticiones</li>
                    <li><strong>Descanso:</strong> 45 segundos entre series</li>
                    <li><strong>Cuidados:</strong> Mantén la espalda recta y la rodilla alineada con el pie durante el salto para evitar lesiones.</li>
                </ul>
                <div class="steps">
                    <h3>Paso a Paso:</h3>
                    <ol>
                        <li>Párate con los pies al ancho de los hombros y sujeta una pesa en cada mano.</li>
                        <li>Realiza una sentadilla profunda flexionando las rodillas y bajando las caderas.</li>
                        <li>Desde la posición baja, salta explosivamente hacia arriba mientras mantienes las pesas cerca del cuerpo.</li>
                        <li>Aterriza suavemente y repite el movimiento.</li>
                    </ol>
                </div>
            </div>
            <div class="exercise-media">
                <img src="https://i.gifer.com/9yxa.gif" alt="Sentadillas con salto ">
            </div>
        </div>
    </main>
</body>
</html>
