body {
    background-image: url('../../images/Dieta/Keto/Fondo.jpg');
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #1e1e2f;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.logo-container {
    margin-bottom: 1.5rem;
}

.logo {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    padding: 0.25rem;
    object-fit: cover;
    transition: var(--transition);
}

    .logo:hover {
        transform: scale(1.05);
        box-shadow: 0 0 1rem rgba(67, 97, 238, 0.3);
    }

header {
    text-align: center;
    padding: 1px;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
}

header p {
    font-size: 1rem;
    color: #b0a9c8;
}

/* Contenedor del ejercicio */
.exercise-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2a2a40;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.exercise-info {
    flex: 2;
    margin-right: 20px; /* Espacio entre el texto y la imagen */
}

.exercise-media {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exercise-media img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #4b0082;
    color: #b0a9c8;
}